.d-hidden {
    display: none;
}

/* 
*  Filters 
*/

#filter-container {
    min-height: 150px;
    display: flex;
    justify-content: center;
}

#filter-form {
    display: flex;
    align-items: center;


    .selectFilter {
        width: 170px;
        padding: 4px;
        margin: 10px;
    }

 
    #btn-submit {
        order: 1;
    }

    #btn-cancel {
        order: 2;
    }
}



/* 
*  Cards 
*/

.cardContent {
    position: relative;
    height: 280px;
    border: solid 1px rgb(201, 197, 197);
    border-radius: 5px;
    
    #btnDetails {
        position: absolute;
        bottom: 7px;
    }

}

.card-job-span {
    background-color: rgba(45, 45, 231, 0.842);
    color: rgb(39, 39, 39);
    border-radius: 2px;
    margin: 1px;
    padding: 2px;
    font-size: 13px;
}

/* 
*  Responsive 
*/

@media(max-width: 768px) {

    .filter-form {
        flex-direction: column;
        justify-content: start;
    }

}